<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.generals.mapper.ReserveMapper">
	<select id="selectHall" resultType="org.generals.domain.HallVO">
		select * from tbl_hall
	</select>
	<insert id="insertReserve">
		insert into tbl_reserve_list (hno, id, reservedate,
		state, starttime, endtime)
		values
		(#{hno},#{id},#{reservedate},#{state},#{starttime},#{endtime})
	</insert>

	<insert id="insertReserveArticle">
		insert into tbl_reserve_article_list (rno, serial,
		type)
		values (#{rno},#{serial},#{type})
	</insert>

	<select id="selectTime" resultType="org.generals.domain.ReserveVO">
		select starttime, endtime from tbl_reserve_list where hno=#{hno} and
		reservedate=#{reservedate} and state=#{state}
	</select>


</mapper>