<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.generals.mapper.ReserveMapper">
	<select id="selectHall" resultType="org.generals.domain.HallVO">
		select * from tbl_hall
	</select>
	<insert id="insertReserve">
		insert into tbl_reserve_list (hno, id, reservedate,
		state, startTime, endTime)
		values
		(#{hno},#{id},#{reservedate},#{state},#{startTime},#{endTime})
	</insert>

	<insert id="insertReserveArticle">
		<selectKey order="BEFORE" keyProperty="rno" resultType="int">
			select max(rno) from
			tbl_reserve_list
		</selectKey>

		insert into tbl_reserve_article_list (rno, serial, type) values
		<foreach collection="articleList" open="(" close=")"
			separator="," item="articleVO">
			<foreach collection="articleVO.serials" item="serial">
				#{rno},#{serial},#{articleVO.type}
			</foreach>
		</foreach>

	</insert>

	<!-- <insert id="insertReserveArticle"> <selectKey order="BEFORE" keyColumn="rno"> 
		select max(rno) from tbl_reserve_list </selectKey> insert into tbl_reserve_article_list 
		(rno, serial, type) values <foreach collection="articleList" open="(" close=")" 
		separator="," item="articleVO" , index="i"> <foreach collection="articleVO.serials" 
		item="serial"> #{rno},#{articleVO.serials[i]},#{articleVO.type} </foreach> 
		</foreach> </insert> -->

	<select id="selectTime" resultType="org.generals.domain.ReserveVO">
		select startTime, endTime
		from tbl_reserve_list where hno=#{hno} and
		reservedate=#{reservedate}
		and state=#{state}
	</select>

	<select id="selectArticle" resultType="org.generals.domain.ArticleVO">
		select * from tbl_article
	</select>

	<select id="selectReserveArticle" resultMap="getReserveArticleSerials">
		<![CDATA[
		select *
		from tbl_article_list
		where type = #{reserveVO.type} and serial not in
		(select serial
		from
		(select rno
		from tbl_reserve_list
		where state=#{reserveVO.state} and not (startTime > #{reserveVO.endTime} or endTime <=
		#{reserveVO.startTime})) reserve inner join tbl_reserve_article_list
		article
		on reserve.rno = article.rno)
		]]>
	</select>

	<resultMap type="org.generals.domain.ArticleVO" id="getReserveArticleSerials">
		<id column="type" />
		<collection property="serials" ofType="java.lang.String" javaType="java.util.ArrayList">
			<result column="serial" />
		</collection>
	</resultMap>

</mapper>